body{
	font-size: :14px;
	line-height: :1.618rem;
	color: #535454;
}/* sets the text color and base height and size*/

p{
	color: #535454;
}/*anything under the p tag colr*/

li{
	float:left;
	color:#535454;
	display:inline-block;
}

.container-fluid{
	 padding-left:0px;
	 padding-right:0px;
}/*base padding for container fluid calss*/

.row{
	margin:0 auto;
}

.fullscreen{
	padding:0 !important;
	margin:0 !important;
}

.nav li a{
	display:block;
	color:#535454;
	padding: 0.95em 1.1em;
	text-decoration:none;
}

.nav li a:hover{
	color: #dd1e25;
	margin-bottom:0;
	border-bottom: 1px dashed #dd1e25;
	text-decoration:none;
	background-color: #e5e5e7;

}

.nav li a.active{
	color: #1c2f55
}

.navbar-nav > li > a{
	border-top:4px solid transparent;
	border-bottom:none;
}

.navbar-nav > li > a:hover{
	border-top: 4px solid #dd1e25;
	border-bottom:none;
}

.row-eq-height{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.wavelogo{
	height:10em;
	background:#ffffff;
	position:absolute;
	border-bottom-right-radius: 4%;
	z-index:1032;
	width:11.7em;
	opacity:1;
	top:0.24em;
}

.uppercurve{
	height: 7.35em;
	left:11em;
	z-index:1030;
	position:relative;
	top:2.95em;
}

.navigation{
	float:none;
	margin: 0 auto;
	width:100%;
}

.navigation a{
	border-bottom:none;
}

.navigation a:hover{
color: #dd1e25;
text-decoration:none;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation a.icon {
		display: none;
}

.navbar-header a{
	border-bottom:none;
}/*navigation bar links when clicked on or hovered over*/

.navbar-nav{
	float:none;
	margin-bottom: 0;
	margin-top:0;
	background:#ffffff;
	border-bottom:none;
}

@media screen and (min-width: 992px) {
  .textonlylogo{
  	display:none;
  }
